.spacer-top {
    margin-top: 20px;
}

.nav-item > .nav-link.active  {
    color: rgba(137, 27, 228, 0.822);
    background-color: cornsilk; 
}

.nav-item > .nav-link:hover  {
    color: rgb(251, 255, 0);
}
